{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: #211f1f;
  line-height: 1.6;
  background: url('https://img.freepik.com/vecteurs-libre/fond-abstrait-blanc_23-2148830054.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #111010;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header .logo {
  font-size: 1.5em;
  font-weight: bold;
}

header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #101010;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  max-width: 1200px;
  margin: auto;
  background: rgba(227, 222, 222, 0.5);
  border-radius: 10px;
}

.intro-text h4 {
  font-size: 1.5em;
  color: #191818;
}

.intro-text h1 {
  font-size: 3em;
  font-weight: bold;
  color: #141313;
}

.intro-text p {
  max-width: 500px;
  margin: 20px 0;
  color: #080808;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fdfafa;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.intro-image {
  width: 400px;
  height: 400px; 
  object-fit: cover;
  border-radius: 5px;
}

.competences {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  text-align: center;
}

.realisations {
  padding: 40px 20px;
  text-align: center;
}

.realisations .projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project {
  width: 200px;
  text-align: center;
}

.project img {
  width: 100%;
  height: auto;
}

.realisations img {
  width: 100%;
  height: 200px; 
}

.temoignages {
  padding: 50px;
  text-align: center;
}

.temoignage {
  background-color:#d4cccc;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  max-width: 300px;
  text-align: left;
}

.temoignage img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.temoignage-details {
  display: flex;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.contact {
  text-align: center;
  padding: 40px 20px;
}

.contact .social-icons a {
  margin: 0 5px;
  font-size: 1.5em;
  color: #333;
  text-decoration: none;
}

.contact button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;